/* Below 1344px (Smaller Desktops) */

@media (max-width: 84em) {
  .hero {
    max-width: 120rem;
  }

  .container {
    max-width: 110rem;
  }

  .contacts-temp {
    flex-direction: column;
  }
}

/* Below 1200px */

@media (max-width: 75em) {
  .contacts-temp {
    flex-direction: column;
  }
  html {
    font-size: 56.25%;
  }
  .grid {
    column-gap: 4.8rem;
    row-gap: 6.4rem;
  }
  .heading-secondary {
    font-size: 3.6rem;
  }

  .heading-tertiary {
    font-size: 2.4rem;
  }
  .header {
    padding: 0 3.2rem;
  }
  .hero {
    gap: 4.8rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
  .container {
    max-width: 100rem;
  }
}

/* Below 940 */
@media (max-width: 59em) {
  .contacts-temp {
    flex-direction: column;
  }
  html {
    font-size: 50%;
  }
  .hero {
    grid-template-columns: 1fr;
  }
  .hero-text-box,
  .hero-img-box {
    text-align: center;
  }
  .hero-img {
    width: 60%;
  }

  .heading-primary {
    margin-bottom: 1.8rem;
  }

  .heading-secondary {
    margin-bottom: 4.8rem;
  }

  .step-number {
    font-size: 7.4rem;
  }

  .container {
    max-width: 90rem;
  }

  .cta {
    grid-template-columns: 3fr 2fr;
  }

  .cta-form {
    grid-template-columns: 1fr;
  }

  .btn--form {
    margin-top: 1.2rem;
  }

  .grid--4-cols {
    grid-template-columns: 2fr 2fr;
  }
  /* Mobile Navigatin */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in-out;
    /* Hide The Navigation */
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: visible;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name='close-outline'] {
    display: block;
  }
  .nav-open .icon-mobile-nav[name='menu-outline'] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

/* Below 704px Small tablets */

@media (max-width: 44em) {
  .contacts-temp {
    flex-direction: column;
  }
  .container {
    max-width: 80rem;
  }

  .heading-secondary {
    margin-bottom: 2.4rem;
  }
}

/* Phones below 544*/

@media (max-width: 34em) {
  .contacts-temp {
    flex-direction: column;
  }
  .grid {
    row-gap: 4.8rem;
  }
  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn {
    font-size: 1.6rem !important;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .container {
    max-width: 45rem;
  }

  .section-hero {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero {
    padding: 0 3.2rem;
  }

  .hero-img {
    width: 80%;
  }

  .feature {
    margin-top: 4rem;
  }

  .logos img {
    height: 3.2rem;
  }

  .step-img-box:nth-child(2) {
    grid-row: 1;
  }
  .step-img-box:nth-child(6) {
    grid-row: 5;
  }
  .heading-secondary {
    font-size: 3.2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 6.4rem;
  }

  .subheading {
    display: flex;
    justify-content: center;
  }

  .step-img-box {
    transform: translateY(2.4rem);
  }

  .cta {
    grid-template-columns: 1fr;
  }

  .cta-img-box {
    height: 36rem;
    grid-row: 1;
  }

  .cta-text-box {
    padding: 3.2rem;
  }
}

/* Phones below 415 was 544*/

@media (max-width: 25em) {
  .btn {
    font-size: 1.4rem !important;
  }
}

/* Phones below 320 was 544*/
@media (max-width: 20em) {
  .container {
    max-width: 30rem;
  }
  .btn {
    font-size: 1.4rem !important;
  }

  .section-featured {
    display: none;
  }
}
